mixin razeni(sortable)
  .row
    .hidden.module-settings(data-sortable-id-reference= sortable.id data-module-zpetnavazba= sortable.zpetnaVazba)
    if sortable.typ === "horizontalni"
      .sortable.sortable-horizontal(id= sortable.id data-sortable-target="horizontal" data-save="")
        +razeniItems(sortable)
    else
      .sortable.sortable-vertical(id= sortable.id data-sortable-target="vertical" data-save="")
        +razeniItems(sortable)

mixin razeniItems(sortable)
  each item, index in sortable.objekty
    -
      hasCorrectAnswer = !!item.spravnaOdpoved
      hasFeedback = !!sortable.zpetnaVazba

      if (hasCorrectAnswer === true && hasFeedback === false) {
        console.error('ERROR: razeni.zpetnaVazba is missing in', sortable.id, cv.cviceni.slug)
      } else if (hasCorrectAnswer === false && hasFeedback === true) {
        console.error(`ERROR: razeni.objekty[${index}].spravnaOdpoved is missing in`, sortable.id, cv.cviceni.slug)
      }

      item.id = item.id || `${sortable.id}-${index}`

    .sortable-item.sortable-drag-item.sortable-drop-item(
      id= item.id
      data-sortable-drag= item.medium
      data-sortable-drop=""
      data-sortable-spravnaodpoved= (item.spravnaOdpoved || false)
      data-sortable-index= index
    )
      +razeniItem(item)
      .sortable-handle
        svg(xmlns="http://www.w3.org/2000/svg")
          use(xlink:href="#sortable-handle")

mixin razeniItem(item)
  if item.popisek
    +captionOnHover(item.popisek)

  case item.medium
    when "audio"
      .sortable-item-inner.sortable-item-audio.media-audio
        +audioPlayerSimple(item)
    when "video"
      .sortable-item-inner.sortable-item-video.media-video
        +videoPlayer(item)
    when "uzivatelsky text"
      .sortable-item-inner.sortable-item-user-text
        //- modify to the right notation for the uzivatelskyText modul
        - const uzivatelskyText = { otazky: item.objekt };
        +uzivatelskyText(uzivatelskyText)
    when "obrazek"
      .sortable-item-inner.sortable-item-image
        img.source-image(src="../assets/img/" + item.objekt alt draggable="false")
    when "svg"
      .sortable-item-inner.sortable-item-svg
        -
          item.objekt.id = item.id + "-svg"
          //- item.objekt.interactive = false

        +svg-component(item.objekt)
    when "text"
      .sortable-item-inner.sortable-item-text
        p !{item.objekt}
    default
      p medium #{item.medium} is not definated
