<p>Německo, Spojené království, Francie a Itálie se dohodly se zřetelem dohody, které bylo právě ohledně postoupení sudetoněmeckých území principiálně dosaženo, na následujících podmínkách a způsobech tohoto postoupení a na takových opatřeních, která pro toto byla přijata, a prohlašují, že skrze tuto dohodu jednotlivě odpovídají za kroky nutné pro zajištění jejího plnění.</p>
<p>1.) Vyklizení bude zahájeno 1. října.</p>
<p>2.) Spojené království, Francie a Itálie se dohodly, že vyklizení území bude provedeno do 10. října a sice bez zničení jakýchkoliv existujících zařízení, a že československá vláda nese odpovědnost za to, že bude vyklizení provedeno beze škod na uvedených zařízeních.</p>
<p>3.) Způsoby vyklizení budou stanoveny individuálně mezinárodním výborem, který se bude skládat ze zástupců Německa, Spojeného království, Francie, Itálie a Československa.</p>
<p>4.) Etapové obsazování převážně německých území německými oddíly začne 1. října. [ … ]</p>
<p>Zbývající území převážně německého charakteru budou neprodleně stanovena výše uvedeným mezinárodním výborem a do 10. října obsazena německými oddíly [ … ]</p>
