<p>1. Život ve Zličíně byl před otevřením metra a rozsáhlou výstavbou v některém ohledu příjemnější, protože byl bezpečnější, fungovaly sousedské vztahy a byl tu poklidný život. Lidé se znali navzájem, při potkání se zdravili,  žilo se tu zkrátka jako na vesnici. Vždyť byl Zličín samostatnou obcí až do roku 1974.</p>
<p>2. Rychlé spojení s centrem Prahy podle mě nemůže vynahradit to, že dřív byl Zličín pouze oblastí pro jeho obyvatele. Dnes k místním obyvatelům přibyli  návštěvníci nákupních center, obyvatelé Středočeského kraje dojíždějící  do Prahy za prací a v neposlední řadě turisté směřující na letiště.  </p>
<p>3. Myslím, že Zličín zůstává stále vesnicí přijde-li na potřebu organizovat a pořádat společenské akce, které tu mají bohatou historii, například stavění máje, pálení čarodějnic, jarmark, bály, atd.</p>
